body
{
    margin: 0px;
}

.ctn
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-ctn
{
    width: 85%;
    height: 600px;
    background: #fff;
		-webkit-box-shadow: 35px 32px 14px rgba(41, 41, 41, 0.45);
		-moz-box-shadow:    35px 32px 14px rgba(41, 41, 41, 0.45);
		box-shadow:         35px 32px 14px rgba(41, 41, 41, 0.45);
}

.teste
{
     background-color: yellow;
    
}

  .label-float{
    position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border: 0;
    border-bottom: 2px solid rgb(214, 213, 213);
    outline: none;
    min-width: 150px;
    width: 100%;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance:none;
    border-radius:0;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #969696;
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
  }
  
  .label-float input:required:invalid + label{
    color: red;
  }
  .label-float input:focus:required:invalid{
    border-bottom: 2px solid red;
  }
  .label-float input:required:invalid + label:before{
    content: '*';
  }
  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: 0;
    color: #3951b2;
  }